In [1]:
#Project1

In [2]:
# Import the libraries
import pandas as pd
from pathlib import Path
%matplotlib inline
import numpy as np

In [3]:
asx = pd.read_csv (
    Path ('c:/users/ivanp/fintech/mod8-9/asx.csv'))

In [4]:
nikkei = pd.read_csv (
    Path ('c:/users/ivanp/fintech/mod8-9/nikkei.csv'))

In [5]:
sp500 = pd.read_csv (
    Path ('c:/users/ivanp/fintech/mod8-9/sp500.csv'))

In [7]:
asx.drop(columns=['Open', 'High', 'Low', 'Volume'])

                           Local time     Close
0    22.03.2020 20:00:00.000 GMT-0400  4674.710
1    23.03.2020 20:00:00.000 GMT-0400  4977.100
2    24.03.2020 20:00:00.000 GMT-0400  5082.230
3    25.03.2020 20:00:00.000 GMT-0400  5245.530
4    26.03.2020 20:00:00.000 GMT-0400  4859.140
..                                ...       ...
234  23.12.2020 19:00:00.000 GMT-0500  6665.737
235  27.12.2020 19:00:00.000 GMT-0500  6707.907
236  28.12.2020 19:00:00.000 GMT-0500  6643.387
237  29.12.2020 19:00:00.000 GMT-0500  6670.167
238  30.12.2020 19:00:00.000 GMT-0500  6603.757

[239 rows x 2 columns]

In [7]:
nikkei.drop(columns=['Open', 'High', 'Low', 'Volume'])

                           Local time     Close
0    22.03.2020 20:00:00.000 GMT-0400  4674.710
1    23.03.2020 20:00:00.000 GMT-0400  4977.100
2    24.03.2020 20:00:00.000 GMT-0400  5082.230
3    25.03.2020 20:00:00.000 GMT-0400  5245.530
4    26.03.2020 20:00:00.000 GMT-0400  4859.140
..                                ...       ...
234  23.12.2020 19:00:00.000 GMT-0500  6665.737
235  27.12.2020 19:00:00.000 GMT-0500  6707.907
236  28.12.2020 19:00:00.000 GMT-0500  6643.387
237  29.12.2020 19:00:00.000 GMT-0500  6670.167
238  30.12.2020 19:00:00.000 GMT-0500  6603.757

[239 rows x 2 columns]

In [7]:
sp500.drop(columns=['Open', 'High', 'Low', 'Volume'])

                           Local time     Close
0    22.03.2020 20:00:00.000 GMT-0400  4674.710
1    23.03.2020 20:00:00.000 GMT-0400  4977.100
2    24.03.2020 20:00:00.000 GMT-0400  5082.230
3    25.03.2020 20:00:00.000 GMT-0400  5245.530
4    26.03.2020 20:00:00.000 GMT-0400  4859.140
..                                ...       ...
234  23.12.2020 19:00:00.000 GMT-0500  6665.737
235  27.12.2020 19:00:00.000 GMT-0500  6707.907
236  28.12.2020 19:00:00.000 GMT-0500  6643.387
237  29.12.2020 19:00:00.000 GMT-0500  6670.167
238  30.12.2020 19:00:00.000 GMT-0500  6603.757

[239 rows x 2 columns]